* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eaddcc;
    background-image: url(Ropa/Fondo02.jpg);
}

.barra {
    background-image: url(Ropa/Tienda03.jpg);
    border-radius: 200px 0 0 200px;
    margin: 10px 0 0 8px;
}

.logo {
    font-family: 'Caveat', cursive;
    color: rgb(230, 169, 46);
    padding: .6em 0 0 .5em;
    font-size: 4.5em;
    text-shadow: 2px 2px 4px rgb(46, 46, 46);
}

.menu {
    font-family: 'Castoro Titling', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    font-size: .6em;
}

.opcionMenu {
    padding: .5em;

}

.opcionMenu:hover {
    background-color: #2a2a2a9f;
    border-radius: 6px 18px 6px 18px;
}

.enlace:link, .enlace:visited, .enlace:active {
    color: rgb(221, 200, 64);
    text-decoration: none;

}

.cuerpoPrincipal {
    width: 100%;
    min-height: 100%;
}

.titulo {
    font-family: 'Castoro Titling', cursive;
    text-align: center;
    padding: 1em;
    color: silver;
    font-size: 2em;
}

.imagenCuerpo {
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.precentacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imagenA {
    box-shadow: 3px 3px 6px #676767;
}

.imagenA img{
    height: 100%;
}

.quienes{
    color: silver;
    font-size: 1.3em;
    padding: .5em;
}

/* ***********Tienda************ */


.grupoTarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta {
    width: 20em;
    padding: 1em;
    margin: 2em;
    height: 38em;
    background-image: url(Ropa/Fondo05.jpg);
    box-shadow: 2px 2px 2px rgb(169, 169, 169);
    transition: box-shadow .2s;
    border-radius: 4px;
}

.tarjeta:hover {
    box-shadow: 6px 6px 10px rgb(221, 221, 221);
}

.foto {
    width: 100%;
    height: 25em;
    padding: 0 auto 0 auto;
    margin: 0 auto 2em auto;
}

.genero, .articulo {
    width: 100%;
    text-align: center;
    margin: 0;
}

.detalles {
    width: 100%;
    text-align: center;
    margin: .5em;
    font-size: 1em;
}

.precio {
    width: 100%;
    text-align: right;
    margin: 1em 0 0 0;
    font-size: 2.5em;
}

.tituloArmario {
    font-family: 'Castoro Titling', cursive;
    color: silver;
    text-align: center;
    padding: 1em;
}

/* *******contactos****** */

.contacto {
    font-family: 'Castoro Titling', cursive;
    color: silver;
    text-align: center;
    padding: 1em;
}

.contactanos {
    color: silver;
    padding: .5em;
}

.redes {
    color: silver;
    padding: .5em;
}

.cont {
    color: silver;
    padding: .5em;
}

.grupoIconos {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
}

.grupoDatos {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}

.iconosContac {
    width: 1.5em;
    padding: .5em;
    margin: 1em;
    height: 1.5em;
    background-color: rgba(192, 192, 192, 0.56);
    border-radius: 5px;
}

.iconosRedes {
    width: 1.5em;
    padding: .5em;
    margin: 1em;
    height: 1.5em;
    background-color: rgba(255, 217, 0, 0.553);
    border-radius: 5px;
}

.icoContacto {
    width: 100%;
}

.icoRedes {
    width: 100%;
}

.icoText {
    padding: 1em 0 .5em 0;
    color: silver;
}